%video{:controls => "", :poster => "/img/posters/#{name}.jpg", :preload => "metadata", :width => "#{width}", :height => "#{height}"}
  %source(src="/videos/#{name}.mp4"  type="video/mp4")
  %source(src="/videos/#{name}.webm" type="video/webm")
  %source(src="/videos/#{name}.ogg"  type="video/ogg")
  .fig-content-stretch
    %object{:data => "/videos/eddies-flv-maxi-player.swf", :height => "#{height}", :id => "object-flash-#{name}.#{width}x#{height}", :name => "object-flash-#{name}.#{width}x#{height}", :type => "application/x-shockwave-flash", :width => "#{width}"}
      %param{:name => "movie", :value => "/videos/eddies-flv-maxi-player.swf"}/
      %param{:name => "allowFullscreen", :value => "true"}/
      %param{:name => "allowScriptAccess", :value => "always"}/
      %param{:name => "scale", :value => "noscale"}/
      %param{:name => "wmode", :value => "direct"}/
      %param{:name => "flashvars", :value => "{{ flashvars | replace: '&', '&amp;' | replace: ' ', '' | strip_newlines }}"}/
      %img(src="/videos/posters/#{name}.jpg" alt="" width="#{poster_width}" height="#{poster_height}")
      %p.no-video Unable to play video, consider downloading one of the video files below.

%p
  Download <i>#{title}</i> as
  <a href="/videos/#{name}.#{width}x#{height}.mp4">mp4</a> (#{mp4_size}), 
  <a href="/videos/#{name}.#{width}x#{height}.webm">webm</a> (#{webm_size}), or
  <a href="/videos/#{name}.#{width}x#{height}.ogg">ogg</a> (#{ogg_size}).
  